@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.main-image {
    width: 100%;
    height: 44vh;
    object-fit: cover;
    object-position: center;
}

header {
    text-align: left;
    padding: 1rem;
    background: linear-gradient(45deg, #444, #222);
}

header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
}

main {
    flex-grow: 1;
    padding: 2rem;
    text-align: center;
}

section {
    margin-bottom: 3rem;
}

footer {
    background-color: #222;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.social-media {
    display: flex;
    margin-left: auto; /* Align to the right */
}

.social-media a {
    margin-left: 10px; /* Add margin between social media icons */
}

.social-media a:first-child {
    margin-left: 0; /* Remove margin from the first icon */
}

.social-media img {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
}

footer a {
    color: #aaa;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }
    main {
        padding: 1rem;
    }
    footer {
        flex-direction: row;
        justify-content: space-between;
    }
    footer p {
        position: static;
        transform: none;
        margin-left: 0; /* Move text to the left */
    }
    .social-media {
        margin-top: 0; /* Remove top margin */
        justify-content: flex-end; /* Align icons to the right */
        margin-right: 10px; /* Add margin to the right */
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 2rem;
    }
    main {
        padding: 0.5rem;
    }
    footer {
        padding: 0.5rem;
    }
    footer p {
        margin-left: 0; /* Move text all the way to the left */
    }
    .social-media img {
        width: 25px; /* Adjust the width as needed */
        height: 25px; /* Adjust the height as needed */
    }
    .social-media {
        justify-content: flex-end; /* Align icons to the right */
        margin-right: 10px; /* Add margin to the right */
    }
}
